@tailwind base;

p {
  @apply mb-6;
}

li {
  @apply mb-6;
}

@font-face {
  font-family: "adelle_bold";
  src: url("Adelle_Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_bold_italic";
  src: url("Adelle_BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_extra_bold";
  src: url("Adelle_ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_extra_bold_italic";
  src: url("Adelle_ExtraBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_heavy";
  src: url("Adelle_Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_heavy_italic";
  src: url("Adelle_HeavyItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_italic";
  src: url("Adelle_Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_light";
  src: url("Adelle_light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_light_italic";
  src: url("Adelle_LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_regular";
  src: url("Adelle_Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_semi_bold";
  src: url("Adelle_SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "adelle_semi_bold_italic";
  src: url("Adelle_SemiBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chunk";
  src: url("ChunkFive-Regular.woff") format("woff"),
    url("ChunkFive-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_black";
  src: url("Inter-Black.woff") format("woff"),
    url("Inter-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_black_italic";
  src: url("Inter-BlackItalic.woff") format("woff"),
    url("Inter-BlackItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "inter_bold";
  src: url("Inter-Bold.woff") format("woff"),
    url("Inter-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_bold_italic";
  src: url("Inter-BoldItalic.woff") format("woff"),
    url("Inter-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "inter_extrabold";
  src: url("Inter-ExtraBold.woff") format("woff"),
    url("Inter-ExtraBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_extrabold_italic";
  src: url("Inter-ExtraBoldItalic.woff") format("woff"),
    url("Inter-ExtraBoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "inter_extralight";
  src: url("Inter-ExtraLight.woff") format("woff"),
    url("Inter-ExtraLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_extralight_italic";
  src: url("Inter-ExtraLightItalic.woff") format("woff"),
    url("Inter-ExtraLightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "inter_italic";
  src: url("Inter-Italic.woff") format("woff"),
    url("Inter-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "inter_light";
  src: url("Inter-Light.woff") format("woff"),
    url("Inter-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_light_italic";
  src: url("Inter-LightItalic.woff") format("woff"),
    url("Inter-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "inter_medium";
  src: url("Inter-Medium.woff") format("woff"),
    url("Inter-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_medium_italic";
  src: url("Inter-MediumItalic.woff") format("woff"),
    url("Inter-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "inter_regular";
  src: url("Inter-Regular.woff") format("woff"),
    url("Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_semibold";
  src: url("Inter-SemiBold.woff") format("woff"),
    url("Inter-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_semibold_italic";
  src: url("Inter-SemiBoldItalic.woff") format("woff"),
    url("Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "inter_thin";
  src: url("Inter-Thin.woff") format("woff"),
    url("Inter-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter_thin_italic";
  src: url("Inter-ThinItalic.woff") format("woff"),
    url("Inter-ThinItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "lato_black";
  src: url("lato-black-webfont.woff") format("woff"),
    url("lato-black-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_black_italic";
  src: url("lato-blackitalic-webfont.woff") format("woff"),
    url("lato-blackitalic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_bold";
  src: url("lato-bold-webfont.woff") format("woff"),
    url("lato-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_bold_italic";
  src: url("lato-bolditalic-webfont.woff") format("woff"),
    url("lato-bolditalic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_hairline";
  src: url("lato-hairline-webfont.woff") format("woff"),
    url("lato-hairline-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_hairline_italic";
  src: url("lato-hairlineitalic-webfont.woff") format("woff"),
    url("lato-hairlineitalic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_heavy";
  src: url("lato-heavy-webfont.woff") format("woff"),
    url("lato-heavy-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_heavy_italic";
  src: url("lato-heavyitalic-webfont.woff") format("woff"),
    url("lato-heavyitalic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_regular";
  src: url("lato-regular-webfont.woff") format("woff"),
    url("lato-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_italic";
  src: url("lato-italic-webfont.woff") format("woff"),
    url("lato-italic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_light";
  src: url("lato-light-webfont.woff") format("woff"),
    url("lato-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_light_italic";
  src: url("lato-lightitalic-webfont.woff") format("woff"),
    url("lato-lightitalic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_medium";
  src: url("lato-medium-webfont.woff") format("woff"),
    url("lato-medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_medium_italic";
  src: url("lato-mediumitalic-webfont.woff") format("woff"),
    url("lato-mediumitalic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_semibold";
  src: url("lato-semibold-webfont.woff") format("woff"),
    url("lato-semibold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_semibold_italic";
  src: url("lato-semibolditalic-webfont.woff") format("woff"),
    url("lato-semibolditalic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_thin";
  src: url("lato-thin-webfont.woff") format("woff"),
    url("lato-thin-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato_thin_italic";
  src: url("lato-thinitalic-webfont.woff") format("woff"),
    url("lato-thinitalic-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_slabregular";
  src: url("RobotoSlab-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind components;

@tailwind utilities;
